<!DOCTYPE html>
<html>
<head>
  <title>B.Inspiring Stem</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
</head>
<body>
<div>
<a style="float:left" href="http://binspiring.org/" >
	<%= image_tag "logo.png", class:"img-responsive", height:"100", width:"100", src:"" %>
</a>
<br>
<h1>&nbsp;&nbsp;B. Inspiring's Technology Workshop</h1>
<h3><i>Front End Development, The Building Blocks of Success</i></h3>
</div>
<%= yield %>

</body>
</html>
